body{
    background-color: teal;
}
*{
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 50%;
    padding: 15px;
    background-color: white;
    box-shadow: 20px 20px 20px 0px rgb(0, 0, 0,0.7);
}
input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 14px;
    margin: 5px 0px 22px 0px ;
    border: none;
    background-color: whitesmoke;
}
button{
    color: white;
    background-color: teal;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    opacity: 0.9;
    margin: auto;
}
button:hover{
    background-color: aqua;
}